anyio==4.1.0
attrs==23.1.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
demoji==1.1.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
MouseInfo==0.1.3
numpy==1.26.2
opencv-python==4.8.1.78
outcome==1.3.0.post0
Pillow==10.1.0
plum-dispatch==1.7.4
PyAutoGUI==0.9.54
pycparser==2.21
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-telegram-bot==20.7
pytweening==1.0.7
reportlab==4.0.8
scipy==1.11.4
selenium==4.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
Spire.Pdf==9.12.0
trio==0.23.2
trio-websocket==0.11.1
urllib3==2.1.0
wavio==0.0.8
wsproto==1.2.0
